.secondary-menus
{
  display:none;
  @include pie-clearfix;
}

.secondary-menus
{
  display:none;
}

@include breakpoint($small,true)
{

  .secondary-menus
  {
    display:block;
    border-top:5px solid $bright-blue;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:99;
    
  }

  .secondary-menus ul.menu
  {
    padding:0;
    margin:0;
  
    li
    {
      @include inline-block;
      font-size: 12px;  
      padding:5px 0;
    
      &.active-trail, &.active 
      {
    
        a
        {
          @include border-radius(5px);
          color:#fff;
        }
    
      }

      a
      {
        display:block;
        padding:5px 10px;
        color:$mid-blue;
      }
      
    }
    
  }
  
  
  .content .menu-block-wrapper
  {
    
    ul.menu
    {
      margin:0;
      padding:0;
    
      li
      {
        list-style:none;
        
        border-top:1px dotted #999;
    
        &.first
        {
          border-top:none;
        }
        
        a
        {
          display:block;
          padding:5px 10px;
        }
        
      } 
      
    }
    
  }
  
  .content .menu-block-wrapper ul.menu li.active-trail
  {
    background:#efefef;
  }
  
  .secondary-menus .menu-block-wrapper ul.menu li.active-trail
  {
    background:none;
  }

  .secondary-menus li.active-trail a
  {
    background:$bright-blue;
  }

  .content .menu-block-wrapper ul.menu li li .active-trail
  {
    font-weight:500;
  }
  
  .content .menu-block-wrapper ul.menu li li.last
  {
    padding-bottom:10px;
  }
  
  .content .menu-block-wrapper ul.menu li li
  {
    border:none;
    font-size:12px;
  }
  
  .content .menu-block-wrapper ul.menu li li a
  {
    padding:0 20px;
  }
  
  .content .menu-block-wrapper ul.menu li li ul
  {
    margin-left:20px;
  }
  
  
}
